header {
    text-align: center;
}

header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(254, 0, 0);
    text-shadow: 1px 1px 2px black, 0px 0px 10px aliceblue, 0px 5px 20px azure;
}

#infosplash {
    grid-column: 10 / span 3;
    text-align: center;
    color: red;
    font-size: 30px;
    text-shadow: 1px 1px 2px black, 0px 0px 10px aliceblue, 0px 5px 20px azure;
    display: none;
}

#combatlog {
    grid-column: 10 / span 3;
    text-align: left;
    background: radial-gradient(aliceblue, rgb(140, 222, 222));
    border: 1px solid gray;
    border-radius: 25px;
    max-width: 250px;
    max-height: 350px;
    display: none;
    overflow: auto;
}

#combatlog ul {
    list-style: none;
    text-align: center;
    padding: 5px;
}

#combatlog ul li {
    padding: 5px;
    color: red;
}

#combatlog p {
    text-align: center;
    color: red;
    font-size: 20px;
    text-shadow: 1px 1px 2px black, 0px 0px 10px rgb(239, 57, 40), 0px 5px 20px rgb(245, 231, 102);
}

#monsterboxes {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    align-content: center;
}

#m1 {
    grid-column: 6;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    background: radial-gradient(rgb(73, 71, 71), rgb(245, 216, 221));
    box-shadow: 0px 0px 15px aliceblue, 0px 5px 20px aliceblue;
    border: 2px ridge gray;
    border-radius: 15px;
}

#m2 {
    grid-column: 16;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    background: radial-gradient(rgb(77, 72, 73), rgb(239, 210, 215));
    box-shadow: 0px 0px 15px aliceblue, 0px 5px 20px aliceblue;
    border: 2px ridge gray;
    border-radius: 15px;
}

#m1:hover,
#m2:hover {
    background: radial-gradient(rgb(223, 202, 207), rgb(239, 210, 215));
}

#m1stats {
    text-align: center;
    grid-column: 3 / span 2;
    border: 2px solid gray;
    border-radius: 30px;
    max-height: 120px;
    padding: 5px;
    background: linear-gradient(silver, pink);
}

#m2stats {
    text-align: center;
    grid-column: 18 / span 2;
    border: 2px solid gray;
    border-radius: 30px;
    padding: 5px;
    background: linear-gradient(silver, pink);
}

#m1stats,
#m2stats {
    width: 10px;
    height: 10px;
    transition: width 1s, height 1s;
}

#m1stats:hover,
#m2stats:hover {
    width: 120px;
    height: 120px;
}

#m1stats p,
#m2stats p {
    color: blue;
    text-shadow: 1px 1px 2px rgb(167, 165, 165), 0px 0px 10px rgb(102, 171, 232), 0px 5px 20px rgb(83, 225, 225);
    opacity: 0%;
    transition: opacity 1s;
}

#m1stats p:hover,
#m2stats p:hover {
    opacity: 100%;
}

#m1 p,
#m2 p {
    color: blue;
    text-shadow: 1px 1px 2px black, 0px 0px 10px aliceblue, 0px 5px 20px azure;
}

#monsterform,
#fightform {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
}

#fightform {
    display: none;
}

#monsterform form,
#fightform form {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 3fr 1fr;
    grid-column: 11;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

#monsterform form fieldset,
#fightform form fieldset {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 3fr 1fr;
    border: 3px solid rgb(101, 99, 99);
    border-radius: 20px;
    background: radial-gradient(aliceblue, rgb(140, 222, 222));
}

#fightform form fieldset {
    background: radial-gradient(rgb(255, 240, 240), rgb(222, 140, 140));
}

#m2form {
    grid-column: 1;
    padding-right: 5%;
}

#m1name {
    margin-right: 5%;
}

#m2form {
    grid-column: 3;
}

#submitbutton {
    align-items: center;
    grid-column: span 3;
    grid-row: 2;
    margin-left: 40%;
    margin-top: 10%;
}

#fightbutton {
    grid-row: 2;
    margin-left: 60%;
    margin-top: 10%;
}

#submitbutton button:hover,
#fightbutton button:hover,
#resetbutton button:hover,
.fight fieldset select:hover {
    color: blue;
}

#resetbutton {
    display: none;
    grid-column: 11;
}

#resetbutton button {
    font-size: 30px;
}

body {
    background-image: url("./assets/mainpageplaceholder.png");
}

footer {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
}

footer a {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(138, 182, 221);
    position: fixed;
    bottom: 0;
    left: 48%;
    margin-bottom: 1%;
    font-size: 20px;
    opacity: 40%;
}

@media (max-width: 1199px) {
    #monsterboxes {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 300px 50px;
    }

    #combatlog {
        grid-column: 3;
    }

    #m1 {
        grid-column: 2;
    }

    #m2 {
        grid-column: 4;
    }

    #m1,
    #m2 {
        max-width: 200px;
        max-height: 300px;
        padding: 10px;
        font-size: 20px;
        overflow: auto;
    }

    #m1stats {
        grid-column: 2;
        grid-row: 2;
    }

    #m2stats {
        grid-column: 4;
        grid-row: 2;
    }

    #fightform form fieldset,
    #monsterform form fieldset {
        max-width: 50px;
        max-height: 100px;
    }
}